{% extends "layout.html" %}

{% block title %}About - Slidecollab{% endblock %}
{% block page_title %}About{% endblock %}

{% block content %}
    <p>
        This project is currently maintained and developed by <a href="http://www.christianranz.com">Christian Ranz</a>. 
        If you are interested in this please contact me. I would love to get some feedback and I am looking for some
        devs who like to help me pushing this. As soon as there is a first stable version I will push the code to GitHub.
    </p>
    <h3>About Me</h3>
    <ul>
        <li><a href="http://www.christianranz.com">Christian Ranz - Freelance Web Development</a></li>
        <li><a href="http://twitter.com/ranzwertig">@ranzwertig on twitter</a></li>
        <li><a href="http://www.github.com/ranzwertig">my GitHub profile</a></li>
    </ul>
    <h3>Thanks to ...</h3>
    <ul>
        <li><a href="https://github.com/mozilla/pdf.js">The pdf.js project in GitHub</a></li>
        <li><a href="http://www.visualpharm.com/must_have_icon_set/">visualpharm</a> for the logo</li>
    </ul>
{% endblock %}