<!DOCTYPE html>
<html>
    <head>
        <title>Connect</title>
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link href="/assets/styles/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="wrapper" class="clearfix">
                <img id="logo" src="/assets/images/logo.png" alt="logo">
                <h1>slidecollab</h1>
                <section id="login">
                    <a href="/connect/login" title="connect with dropbox">connect</a>
                </section>
                <div class="clear"></div>
            </div>
        </header>
        <section id="main">
            <a href="/connect/login">Connect with Dropbox</a>
        </section>
        <footer>
        </footer>
    </body>
</html>